.FooterContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px;
}
.FooterBottomContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
#BeforeAfter {
  font-family: 'PoppinsBold';
  color: #1f232a;
  font-size: 35px;
  line-height: 35px;
}
#HairTransparent {
  font-family: 'PoppinsRegular';
  color: #565d68;
  font-size: 24px;
  line-height: 24px;
  align-self: flex-end;
  margin-top: 3%;
  margin-right: 10%;
}
#ImageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
#ContactUsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
#Image1 {
  object-position: 100% 100% !important;
}
#Image2 {
  object-position: 0% 100% !important;
}
.gradientbackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding-top: 25%;
  padding-bottom: 7%;
  margin-top: 5%;
  background-image: url('../../images/AboutUsBg.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 150%;
}
.swiper-pagination {
}
.swiper-pagination-bullet {
  height: 54px;
  width: 54px;
  text-align: center;
  font-size: 24px;
  line-height: 54px;
  font-family: 'Poppins-Medium';
  color: #779f7d;
  opacity: 1;
  background: #f1f1f1;
  border-radius: 10px;
}
.swiper-pagination-bullet-active {
  background: #779f7d;
  color: white;
}
